.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    padding: 20px;
}

.header{
    margin-top: 60px;
    height: 130px;
    display: flex;
    justify-content: center;
}

.wrapper h3{
    text-align: center;
}